/* globals.css 최상단에 추가 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
  height: 4053px;
  width: 100%;

}

:root {
  --font-notoSans: 'Noto Sans', sans-serif;
  --font-inter: "Inter", sans-serif;
}

.a {
  font-family: var(--font-inter, sans-serif);
}

