
.header {
    /* border: 1px solid black; */
    width: 80%;
    height: 61px;
    display: flex;
    margin: 16px auto;
    align-items: center;
    position:fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    background-color: transparent;
    backdrop-filter: blur(0px);
    z-index: 100;
    animation-duration: 1s;
    animation-name: slidebottom;
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.5); /* 더 흐릿한 배경색 */
    backdrop-filter: blur(5px); /* blur 효과 적용 */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
}

.inner {
    display:flex;
    flex-direction: row;
    place-items: start center;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 65%;

}

.name {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    
}

.paths.activePath a{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #F9FAFC;
    color: black;
    border-radius: 10px;
}

.paths a{
    color: #62748E;
    line-height:1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.2s ease;
    display: inline-block; /* transform 적용 가능하게 만듦 */
    font-family: inherit;
}

.paths:hover{
    background-color: #F9FAFC;
    
}

.paths:hover a {
    color: black;
    font-size:1.1rem;
    /* transform: translateY(-2px); */
    transform: scale(1.1rem);
    
}

.body {
    width: 100%;
    height: 100%;
}

.paths {
    height:100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: inherit;
}

@keyframes slidebottom {
    from {
        margin-top: -10%;
    }

    to {
        margin-top: 16px;
      }
    }