.main {
    width: 100%;
    height: 15%;
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grids {
    width: 85%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    height: fit-content;

}

.hero h1 {
    font-size: 3.5rem;
    color: black;
    line-height: 3.5rem;
    font-weight: bold;
    font-family: var(--font-notoSans, sans-serif);
    margin: 0;
    margin-bottom: 2px;
    
}

.hero h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}

.job {
    width: 100%;
    margin-top: 1rem;
    position: relative;
    height: 2.5rem;
    overflow: hidden;
}

.hero p {
    margin-top: 1rem;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #62748E; 
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dev h3 {
    margin: 0;
}

.message {
    position: absolute;
    width: 100%;
    font-size: 1.5rem;
    opacity: 0;
    /* transform: translateY(20%); */
  }
  
  .fadeIn {
    animation: fadeUpIn 1s ease forwards;
    z-index: 2;
  }
  
  .fadeOut {
    animation: fadeDownOut 1s ease forwards;
    z-index: 1;
  }

  @keyframes fadeDownOut {
    0% {
      opacity: 1;
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-10%);
    }
    100% {
      opacity: 0;
      transform: translateY(20%);
    }
  }
  
  @keyframes fadeUpIn {
    0% {
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }